@page
@model ContactsModel
@{
    ViewData["Title"] = "Contacts app";
}

<div class="text-center">

    <form method="post" action="@Url.Action("MyAction", "Sort")">
        <div class="form-group">
            <label for="dropdown">Select an option:</label>
            <select class="form-control" id="dropdown">
                <option name="default">Default View</option>
                <option name="lastAsc">Last Name</option>
                <option name="lastDesc">Last Name, Descending</option>
                <option name="firstAsc">First Name</option>
                <option name="firstDesc">First Name, Descending</option>
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>

</div>